{% extends 'manajerBase.html' %}
{% load static %}

{% block meta %}
    <title>History Rapat</title>
    <style>
        .field_selection {
          width:100%;
          padding: 12px 24px;
          margin: 8px 0;
          box-sizing: border-box;
          border-radius: 10px;
          border: 3px solid rgb(0, 0, 0);
          background-color: white;
          filter: drop-shadow(4px 2px 2px rgba(0, 0, 0, 0.098));
        }
        p {
            text-align: center;
            font-family: sans-serif;
        }
        a:link {
          color:rgb(0, 0, 0);
        }
        a:visited {
          color:rgb(0, 0, 0);
        } 
        ul {
            font-family: sans-serif;
            text-align: center;
        }
        .container {
            background-color: white;
            padding-bottom: 50px;
            border-radius: 20px;
            display: block;
            margin: 0 auto;
            margin-top: 60px;
        }
        body {
          background-image: linear-gradient(-45deg, rgb(2, 4, 2), rgb(92, 15, 15));
          background-position: center center;
          margin: 0;
          padding: 0;
          min-height: 100vh;
          background-repeat: no-repeat;
        }
        .redirect_link:link, .redirect_link:visited {
          color:rgb(0, 0, 0);
          font-weight: bold;
        }

        .row {
            margin-bottom: 10px;
        }
      </style>
{% endblock meta %}

{% block content %}
<div class="container" style="width: 1000px;">
    <H1 style="display:block; text-align:center; padding-top: 48px; padding-bottom: 24px; font-weight: bold;">List Rapat</H1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Rapat Tim</th>
            <th scope="col">Nama Panitia</th>
            <th scope="col">Stadium</th>
            <th scope="col">Tanggal dan Waktu</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
    <tbody>
        {%for rapat in list_rapat%}
        <tr>
            <td>{{rapat.tim_a}} vs {{rapat.tim_b}}</td>
            <td>{{rapat.panitia}}</td>
            <td>{{rapat.stadium}}</td>
            <td>{{rapat.display}}</td>
            <td>    <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" style="background-color: rgb(115, 17, 17); border: 0px; padding: 10px 10px; font-size: 16px; border-radius: 10px; color: white; filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.098));" data-bs-toggle="modal" data-bs-target=#mod{{forloop.counter}}>
                    Lihat Laporan Rapat
                </button></td>
        </tr>
    </tbody>
        
  <!-- Modal -->
  <div class="modal fade " id=mod{{forloop.counter}} tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Isi Rapat</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {{rapat.isi}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" style="background-color: rgb(115, 17, 17); border: 0px; padding: 10px 40px; font-size: 16px; border-radius: 30px; color: white; filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.098));" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

    {%endfor%}
      </table>
    </div>
  
{% endblock content %}