{% extends 'penontonBase.html' %}
{% load static %}

{% block meta %}
    <title>Beli Tiket</title>
    <style>
        table {
          font-family: arial, sans-serif;
          display: flex;
          margin: 0 auto;
          text-align: center;
          justify-content: center;
        }
        .field_selection {
          width:100%;
          padding: 12px 24px;
          margin: 8px 0;
          box-sizing: border-box;
          border-radius: 10px;
          border: 3px solid rgb(0, 0, 0);
          background-color: white;
          filter: drop-shadow(4px 2px 2px rgba(0, 0, 0, 0.098));
        }
        p {
            text-align: center;
            font-family: sans-serif;
        }
        a:link {
          color:rgb(0, 0, 0);
        }
        a:visited {
          color:rgb(0, 0, 0);
        } 
        ul {
            font-family: sans-serif;
            text-align: center;
        }
        .container {
            background-color: white;
            padding-bottom: 50px;
            border-radius: 20px;
            display: block;
            margin: 0 auto;
            margin-top: 60px;
        }
        body {
          background-image: linear-gradient(-45deg, rgb(2, 4, 2), rgb(92, 15, 15));
          background-position: center center;
          margin: 0;
          padding: 0;
          min-height: 100vh;
          background-repeat: no-repeat;
        }
        .redirect_link:link, .redirect_link:visited {
          color:rgb(0, 0, 0);
          font-weight: bold;
        }

        .row {
            margin-bottom: 10px;
        }
      </style>
{% endblock meta %}

{% block content %}
<div class="container" style="width: 400px;">
    <H1 style="display:block; text-align:center; padding-top: 48px; padding-bottom: 24px; font-weight: bold;">Beli Tiket</H1>
<form method="POST">
    <div class="row">
        <div class="col-5">
            <label class="pay" style="padding-bottom: 5px;">Jenis Tiket</label>
        </div>
        <div>
            <select class="form-select" aria-label="Default select example" name="jenis">
                {% for jen in list_jenis %}
                      <option value={{jen}}>
                          {{jen}}
                      </option>
                {%endfor%}
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <label class="pay" style="padding-bottom: 5px;">Pembayaran</label>
        </div>
        <div>
            <select class="form-select" aria-label="Default select example" name="pembayaran">
                {% for pay in list_pembayaran %}
                      <option value={{pay}}>
                          {{pay}}
                      </option>
                {%endfor%}
            </select>
        </div>
    </div>

    <div class="w-full gap-x-4 items-center justify-center self-align-end">
        <button class="btn btn-primary" style="display:block; margin:0 auto; background-color: rgb(115, 17, 17); border: 0px; padding: 10px 24px; font-size: 16px; border-radius: 30px; color: white; filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.098));"
        type="submit" value="buat">Beli</button>
    </div>

    {%if isNotValid%}
        <div class="alert alert-warning alert-dismissible fade show justify-center" role="alert">
            <strong>Pembelian Gagal!</strong> {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <button class="btn btn-primary" style="background-color: rgb(111, 40, 40); border: 0px; padding: 5px 24px; font-size: 16px; border-radius: 50px; color: white; filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.098));"><a class="link_below" style="text-decoration: none; color: rgb(255, 255, 255);" href="../../pertandingan/list-pertandingan">Lihat pertandingan lain</a></button>
    {%endif%}
</form>
</div>

{% endblock content %}